        <div id="rca_form">
          <div class="formrow">
            <label for="permission_owner" class="fieldtitle"><%=t.guiblock.resource_access_control.form.owner.label%></label>
            <input type="text" maxlength="32" id="permission_owner" name="permission_owner" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.permission_owner %>" <%% } %> />
            <div class="fielddescription"><%=t.guiblock.resource_access_control.form.owner.description%></div>
          </div>
          <div class="formrow">
            <label for="permission_group" class="fieldtitle"><%=t.guiblock.resource_access_control.form.group.label%></label>
            <select id="permission_group" name="permission_group" class="fieldcontrol"/>
            <div class="fielddescription"><%=t.guiblock.resource_access_control.form.group.description%></div>
          </div>
          <div class="formrow">
            <label for="permission_modifier_owner" class="fieldtitle"><%=t.guiblock.resource_access_control.form.owner_permissions.label%></label>
            <select id="permission_modifier_owner" name="permission_modifier_owner" class="fieldcontrol"/>
            <div class="fielddescription"><%=t.guiblock.resource_access_control.form.owner_permissions.description%></div>
          </div>
          <div class="formrow">
            <label for="permission_modifier_group" class="fieldtitle"><%=t.guiblock.resource_access_control.form.group_permissions.label%></label>
            <select id="permission_modifier_group" name="permission_modifier_group" class="fieldcontrol"/>
            <div class="fielddescription"><%=t.guiblock.resource_access_control.form.group_permissions.description%></div>
          </div>          
          <div class="formrow">
            <label for="permission_modifier_all" class="fieldtitle"><%=t.guiblock.resource_access_control.form.everybody_permissions.label%></label>
            <select id="permission_modifier_all" name="permission_modifier_all" class="fieldcontrol"/>
            <div class="fielddescription"><%=t.guiblock.resource_access_control.form.everybody_permissions.description%></div>
          </div>                    
        </div>   